@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Articulo No Existe</title>
</head>
<body>
    <div> 
        <p>El Código del Producto Ingresado No Existe</p>
        @Html.ActionLink("Retornar","Index")

    </div>
</body>
</html>
